In [1]:
# function====> block of code
# code readable

In [2]:
def hello():
    print("Aaditya")
    print("deepak")
hello()
hello()

Aaditya
deepak
Aaditya
deepak

In [5]:
d=23  #global variable
def add():
    a=23  #local variable
    b=32
    c=a+b+d
    print(c)
add()
print(d)

78
23

In [6]:
d=23  #global variable
def add():
    a=23  #local variable
    b=32
    d=2
    c=a+b+d
    print(c)
add()
print(d)

57
23

In [9]:
d=23  #global variable
def add():
    global d   #to change global variable value
    a=23  #local variable
    b=32
    d=90
    c=a+b+d
    print(c)
add()
print(d)

145
90

In [11]:
#parameter
def addno(num):
    print(num)
addno(23)

23

In [3]:
def addno(num,x):
    print("x:",x,"num",num)
addno(23,34)

x: 34 num 23

In [7]:
def addno(num,x):
    print("x:",x,"num",num)
    x=23
    num=45
    print("new x:",x,"new num",num)

addno(23,34)

x: 34 num 23
new x: 23 new num 45

In [10]:
z=12
x=z
print("id z:",id(z),"\nid x:",id(x))
x=23
print("id z:",id(z),"\nid x:",id(x))

id z: 2322607506000
id x: 2322607506000
id z: 2322607506000
id x: 2322607506352

In [11]:
def sum1(x):
    print("x: ",id(x))
    
    print("old x",x)
    x=23
    print("new x",x, id(x))
    
sum1(34)

x:  2322607506704
old x 34
new x 23 2322607506352

In [12]:
def func(x):
    print("X:",x)
    x.append(2344)

In [13]:
mylist=[23,45,56,78]
func(mylist)
print(mylist)

X: [23, 45, 56, 78]
[23, 45, 56, 78, 2344]

In [15]:
# mutable data types also changes the value when any updates are made by global or local variable

In [18]:
def func(x):
    print(x+12)

In [19]:
out=func(80)
print(out)

92
None

In [20]:
# by default function returns none value

In [27]:
def func(x):
#     print(x+12)
    return x+12

In [28]:
out=func(23)
print(out)

35

In [30]:
def num(x):
    if(x%2==0):
        return True
    else:
        return False
num(22)

True

In [32]:
x=num(24)
print(x)

True

In [33]:
# 1. 10 digit fibonaccy series in a list and return list
# 2. take a num from user and check whether num is a palindrome num or not
# 3. user input string and convert first and last word in capital
# 4. function takes n as a number of rows and print piramid

In [12]:
lst=[0,1]
def fibonacci():
    n1=0
    n2=1
    for i in range(2,10):
        n3=n1+n2
        n1=n2
        n2=n3
        lst.append(n3)
    return lst
fibonacci()

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [21]:
def palindrome(n):
    sum=0
    rem=0
    a=n
    while(n>0):
        rem=n%10
        sum=sum*10+rem
        n=n//10
    if(a==sum):
        print("palindrome")
    else:
        print("not palindrome")
    
palindrome(12321)

palindrome

In [34]:
# 3. user input string and convert first and last word in capital
def string(s):
    k=''
    for i in range(len(s)):
        if(i==0 or i==len(s)-1):
            k+=s[i].capitalize()
        else:
            k+=s[i]
            
    print(k)

In [36]:
string("Aaditya basnal")

Aaditya basnaL

In [17]:
# 4. function takes n as a number of rows and print piramid
def piramid(n):
    for i in range(1,n+1):
        for j in range(n+1,i,-1):
            print(" ",end="")
        for k in range(1,i+1):
            print("*",end=" ")
        print("")

In [20]:
piramid(5)

     *
    * *
   * * *
  * * * *
 * * * * *