In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
      print("*",end=" ")
    else:
      print(" ")
print()

* * * * * *


* *


* *


* * * * * *

In [ ]:
ascii=65
for i in range(1,6):
  for j in range(1,i+1):
      alphabet=chr(ascii)
      print(alphabet,end=" ")
  ascii=ascii+1
  print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    s=1
    if(s<=j):
       print( "*",end=" ")

  print()
s=s+1

* * * *
* * * *
* * * *
* * * *

In [ ]:
ascii=69
for i in range(1,6):

  for j in range(1,i+1):

      alphabet=chr(ascii)
      print(alphabet,end=" ")
  ascii=ascii-1
  print()

E
D D
C C C
B B B B
A A A A A

In [ ]:
n=4
for i in range(1,4):
  for j in range(1,i+1):
    print(n,end=" ")
    temp=n-1
  n=n-1
  print()

4
3 3
2 2 2

In [ ]:
for i in range(1,6):

  for j in range(1,6):

    if(j<6-i):
      num=1
      print(" ",end=" ")

    else:
      print(num,end=" ")
      num=num+1
  print()

        1
      1 2
    1 2 3
  1 2 3 4
5 6 7 8 9

In [ ]:
n=4
for i in range(1,n+1):
  print("s",i)
  for j in range(i,n):
    print("new",j)

s 1
new 1
new 2
new 3
s 2
new 2
new 3
s 3
new 3
s 4

In [ ]:
n=4
for i in range(1,n+1):

  for j in range(i,n):
    print(" ",end=" ")

  for k in range(1,i+1):
    print("*",end=" ")
  print()

      *
    * *
  * * *
* * * *

In [ ]:
n=4
for i in range(1,n+1):

  for j in range(i,n):
    print(" ",end=" ")

  for k in range(1,i+1):
    print(" *",end=" ")
  print()

       *
     *  *
   *  *  *
 *  *  *  *

In [ ]:
for i in range(1,6):
  for j in range(6,i,-1):
    print("*",end=" ")

  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=5

for i in range(1,n+1):
  num=1
  for j in range(i-1):
    print(" ",end=" ")

  for k in range(i,n+1):

    print(num,end=" ")
    num=num+1
  print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
n=5

for i in range(1,n+1):
  ascii=65
  for j in range(i-1):
    print(" ",end=" ")

  for k in range(i,n+1):
    alphabet=chr(ascii)
    print(alphabet,end=" ")
    ascii=ascii+1
  print()

A B C D E
  A B C D
    A B C
      A B
        A

In [ ]:
for i in range(1,6):
  for k in range(i,5):
    print(" ",end=" ")
  for j in range(1,6):
       print("*",end=" ")

  print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [ ]:

for i in range(1,6):
  for k in range(i,5):
    print(" ",end=" ")
  ascii=65
  for j in range(1,6):

    alphabet=chr(ascii)
    print(alphabet,end=" ")
    ascii=ascii+1

  print()

        A B C D E
      A B C D E
    A B C D E
  A B C D E
A B C D E

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(" ",end=" ")
  for k in range(2*(n-i)+1):
    print("*",end=" ")
  print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print(" ",end=" ")
  for k in range(1,i+1):


    print(" *",end=" ")
  print()

           *
         *  *
       *  *  *
     *  *  *  *
   *  *  *  *  *

In [ ]:
n=5

for i in range(1,n+1):

  for j in range(i):
    print(" ",end=" ")

  for k in range(2*(n-i)+1):

    print("*",end=" ")

  print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n = 4

for i in range(n):

    for j in range( i,4):
        print(" ", end="")


    for k in range(1,2*i):
        print("*", end="")


    print()

   *
  ***
 *****

In [ ]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end=" ")
  for j in range(8,2*i-1,-1):
    print("*",end=" ")
  print()

* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

   *
  * *
 * * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end="")
  for k in range(5,i,-1):
    print("*",end=" ")
  print()

* * * *
 * * *
  * *
   *

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  ascii=65
  for k in range(1,i+1):

    alphabet=chr(ascii)
    print(alphabet,end=" ")
    ascii=ascii+1
  print()

   A
  A B
 A B C
A B C D

In [ ]:
 ascii=65
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")

  for k in range(1,i+1):

    alphabet=chr(ascii)
    print(alphabet,end=" ")
    ascii=ascii+1
  print()

   A
  B C
 D E F
G H I J

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(i==j or j==1 or i==5):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
*     *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(i+j==1+5 or j==1 or i==1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*     *
*   *
* *
*

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if(i==j or j==1 or i==5):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print()

1
1 2
1   3
1     4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for k in range(5,i,-1):
    print(" ",end=" ")
  for j in range(1,6):
    if(j==i or j==1 or i==5):
      print(" *",end=" ")
    else:
      print(" ",end="  ")
  print()

         *
       *  *
     *     *
   *        *
 *  *  *  *  *