In [2]:
# # Tuple ()--->
# (1.) identification =()
# (2). immutable data type ===> we cannot change or update values at a run time
# (3). indexing start from 0 and length start from 1

In [3]:
a=('sam',23,34,'raj')
a

('sam', 23, 34, 'raj')

In [4]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
23
34
raj

In [6]:
# Q.1. a=('sam',23,34,'raj') convert into a=('sam',200,34,'raj')

In [7]:
a=('sam',23,34,'raj')
print(a)
b=list(a)
print(b)
b[1]=200
print(b)
c=tuple(b)
print(c)

('sam', 23, 34, 'raj')
['sam', 23, 34, 'raj']
['sam', 200, 34, 'raj']
('sam', 200, 34, 'raj')

In [8]:
#loop in tuple
a=('sam',23,34,'raj')
for i in a:
    print(i)

sam
23
34
raj

In [9]:
len(a)

4

In [11]:
for i in range(len(a)):
    print(a[i])

sam
23
34
raj

In [12]:
#index()
a=('sam',23,34,'raj')
a.index('sam')

0

In [13]:
#len()
a=('sam',23,34,'raj')
len(a)

4

In [17]:
#min()
a=(12,23,123,231,23123)
min(a)

12

In [18]:
max(a)

23123

In [19]:
#count()
a.count(12)

1

### how we can create a user defined tuple()

In [20]:
a=[]
size=int(input("enter size "))
for i in range(size):
    val=input("enter item: ")
    a.append(val)
b=tuple(a)
b

enter size 3
enter item: 23
enter item: 12
enter item: 333

('23', '12', '333')

In [21]:
c=list(b)
c[1]=int(c[1])
d=tuple(c)
d

('23', 12, '333')

In [22]:
#isdigit()
a='sam12'
a.isdigit()

False

In [25]:
a=('sam',"23",'34','raj')
b=list(a)
c=[]
d=[]
for i in range(len(b)):
    if(b[i].isdigit()==True):
        c.append(b[1])
    elif(b[i].isalnum()==True):
        d.append(b[i])
e=tuple(c)
f=tuple(d)
print(e)
print(f)

('23', '23')
('sam', 'raj')

In [26]:
a=(12,23,34,12)
sum(a)

81

In [27]:
sum=0
for i in range(len(a)):
    sum=sum+a[i]
print(sum)

81

In [28]:
a=[]
size=int(input("enter size "))
for i in range(size):
    val=int(input("enter number "))
    a.append(val)
b=tuple(a)
print(b)
sum=0
for i in range(size):
    sum=sum+b[i]
print('total addition : ',sum)

enter size 4
enter number 23
enter number 2
enter number 12
enter number 1
(23, 2, 12, 1)
total addition :  38