## tuples examples

In [1]:
#tuple to list
def tuple_con(lst):
    return tuple(lst)
print(tuple_con([1,2,3,4]))

(1, 2, 3, 4)

In [2]:
#tuple length
def tuple_len(tup):
    return len(tup)
print(tuple_len((1,2,34,5,4)))

5

In [3]:
#find min max from tuple
def tuple_max_min(tup):
    return max(tup), min(tup)
print(tuple_max_min((1,3,4,5,54)))

(54, 1)

In [5]:
#concate two tuple
def tu(tup1,tup2):
    return (tup1+ tup2)
print(tu((12,32),(23,12)))

(12, 32, 23, 12)

In [6]:
# check a specific element exists in a tuple
def element_exists(tuple,element):
    return element in tuple
print(element_exists((1,2,3,4,4),3))

True

In [7]:
# find index value of specific element in tuple
def tuple_index(tup,element):
    return tup.index(element)
print(tuple_index((1,2,3,4,5,3),2))

1

In [9]:
# convert a tuple of characters into a string
def tuple_to_str(tup):
    return ''.join(tup)
print(tuple_to_str(('a','s','d')))

asd

In [12]:
# remove an element from a tuple (by converting it into a list, then) back to a tuple
def remove_element_tuple(tup,element):
    lst=list(tup)
    if element in lst:
        lst.remove(element)
    return tuple(lst)
print(remove_element_tuple((1,2,34,5),2))

(1, 34, 5)

In [13]:
#count the number of times a specific element appeares in a tuple
def count_occurrence(tup,element):
    return tup.count(element)
print(count_occurrence((1,2,4,2,3,23,2),2))

3

In [16]:
# unpack the element of a tuple into separate variable
def unpac(tup):
    a,b,c=tup
    return a,b,c
a,b,c=unpac((12,23,23))
print(a,b,c)

12 23 23

## Dictionary

In [18]:
#create dict from two lists one for keys and secound for values

def lists_to_dict(lst1,lst2):
    return dict(zip(lst1,lst2))
key=['name','city']
value=['aadi','jaipur']
print(lists_to_dict(key,value))

{'name': 'aadi', 'city': 'jaipur'}

In [19]:
# sum of all values in a dict
def sum_value(di):
    return sum(di.values())
d={'a':12,'b':23}
print(sum_value(d))

35

In [23]:
#merge two dict into one
def merge_fict(d1,d2):
    return {**d1, **d2}
d={'a':12,'b':23}
d3={'c':121,'d':23}
print(merge_fict(d,d3))

{'a': 12, 'b': 23, 'c': 121, 'd': 23}

In [24]:
# access the value of given key in dict if the key is not present give default value

def get_value(d,key,default=None):
    return d.get(key,default)
d={'a':12,'b':23}
print(get_value(d,'b'))
print(get_value(d,'c'))

23
None

In [25]:
# update an existing dict with another dict key value pairs

def update_dict(d1,d2):
    d1.update(d2)
    return d1

d1={'a':12,'b':23}
d2={'b':12,'c':23}
print(update_dict(d1,d2))

{'a': 12, 'b': 12, 'c': 23}

In [28]:
# check if a key exists in a dict
def key_exists(d,key):
    return key in d
d={'a':12,'b':23}
print(key_exists(d,'b'))

True

In [30]:
# delete a key-value pair from dict by using the key

def delete_paie(d,key):
    if key in d:
        del d[key]
    return d
d={'a':12,'b':23,'c':231}
print(delete_paie(d,'c'))

{'a': 12, 'b': 23}

In [32]:
# find max and min value in a dict

def max_min_value(d):
    return max(d.values()),min(d.values())
d={'a':12,'b':23,'c':4}
print(max_min_value(d))

(23, 4)

In [34]:
# count frequency of each charachter in  a string and store the result

def char_freq(d):
    freq={}
    for char in d:
        freq[char]=freq.get(char,0)+1
    return freq
print(char_freq('hello world'))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [35]:
# sort a dict by its value in ascending order
def sort_dict(d):
    return dict(sorted(d.items(),key=lambda item :item[1]))


d={'a':12,'b':23,'c':11}
print(sort_dict(d))

{'c': 11, 'a': 12, 'b': 23}